.header {
    height: 50px;
    background-color: aqua;
    margin: 30px;
}

.header--third {
    width: 100%;
}

.main-content {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;

    margin: 15px;
}

.main-content__article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column wrap;
    flex-flow: column;
    flex: 1 100%;
    justify-content: space-around;

}

.header-wrapper{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
}

/*.main-content__article-image{
    margin: 0;
}*/

.main-content__article-text {
    display: inline-block;
}

img {
    width: 200px;
    height: 200px;
    margin: 15px;
}

@media only screen and (min-device-width: 1025px) {

}

@media only screen and (max-device-width: 1024px) {

    .main-content__article{

    }

    .header--first{
        align-self: flex-start;
        width: 45%;
    }

    .header--second{
        align-self: flex-end;
        width: 20%;
    }
}

@media only screen and (max-device-width: 768px) {
    .header--second {
        display: none;
    }

    .main-content__article {
        flex-direction: row;
        /*flex: 1 100%; */
    }

    .main-content__article-image {
        justify-content: flex-end;
    }

    .article-image--second {
        order: 2;
    }
}

@media only screen and (max-device-width: 480px) {
    .header {
        margin: 10px;
    }

    .header--first {
        width: 90%;
    }

    /* .main-content__article{
         flex: 1 100%;
     }*/
    img {
        display: none;
    }
}

